.winnerMain{
    font-family: sans-serif;
    font-size: 15px;
    display: flex;
    height: 100vh;
}

.winnerDiv{
    background: #383434;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: auto;
    max-width: 800px;
    min-width: 60vw;
    border-radius: 30px;
}

.text{
    color: white;
}

.nextWinner{
    font-size: 18px;
    width: 20vw;
    background-color: #77DD77;
    border: none;
    color: white;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nextWinner:hover {
    background-color: #5cd15c;
    transform: translateY(-1px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.nextWinner:active {
    background-color: #2dcc2d;
    transform: translateY(1px);
    box-shadow: none;
}

.prevWinner{
    margin-top: 1vh;
    font-size: 18px;
    width: 20vw;
    background-color: #ff6961;
    border: none;
    color: white;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.prevWinner:hover {
    background-color: #ed423b;
    transform: translateY(-1px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.prevWinner:active {
    background-color: #df2c25;
    transform: translateY(1px);
    box-shadow: none;
}

.homeButton{
    font-size: 18px;
    width: 20vw;
    margin-top: 1vh;
    background-color: #1DA1F2;
    border: none;
    color: white;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: none;
}

.homeButton:hover{
    background-color: #0084FF;
    transform: translateY(-1px);
}

.homeButton:active{
    background-color: #0073E5;
    transform: translateY(1px);
}