.indexBody{
    font-family: sans-serif;
    font-size: 20px;
    display: flex;
    height: 100vh;
}

.header{
    color: white;
    font-size: 30px;
}

.text{
    color: white;
}

.inputForm{
    background: #383434;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: auto;
    max-width: 800px;
    min-width: 60vw;
    border-radius: 30px;
}

.URLInput{
    width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 15px;
    text-align: center
}

.URLInput:focus{
    border: 2px solid #555;
}

.winnerInput{
    width: 50%;
    height: 20%;
    padding: 3px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 15px;
    text-align: center
}

.likedButton {
    background-color: transparent;
    color: #1DA1F2;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.likedButton:hover {
    background-color: rgba(29, 161, 242, 0.1);
}

.likedButton:active {
    background-color: rgba(29, 161, 242, 0.2);
}

.likedButton:before {
    content: "\2764";
    margin-right: 8px;
}

.rtButton {
    background-color: transparent;
    color: #1DA1F2;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 16px ;
    border-radius: 4px;
    transition: background-color 0.2s;
    margin-bottom: 2vh;
}

.rtButton:hover {
    background-color: rgba(29, 161, 242, 0.1);
}

.rtButton:active {
    background-color: rgba(29, 161, 242, 0.2);
}

.rtButton:before {
    content: "\1F502";
    margin-right: 8px;
}

.repliedButton {
    background-color: transparent;
    color: #1DA1F2;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.repliedButton:hover {
    background-color: rgba(29, 161, 242, 0.1);
}

.repliedButton:active {
    background-color: rgba(29, 161, 242, 0.2);
}

.repliedButton:before {
    content: "\27A1";
    margin-right: 8px;
}
.loadingDiv{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: auto;
    max-width: 800px;
    min-width: 60vw;
    border-radius: 30px;
}